.container{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    box-shadow: 5px 5px 5px;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid;
    padding: 10px;
}

h1{
    font-size: 4rem;
}

button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color .5s ease;
}

.addBtn{
    background-color: hsl(120, 100%, 25%);
}

.addBtn:hover{
    background-color: hsl(120, 100%, 40%);
}

.deleteBtn{
    background-color: hsl(0, 100%, 50%);
}

.deleteBtn:hover{
    background-color: hsl(0, 100%, 60%);
}

.upBtn, .downBtn{
    background-color: hsl(180, 100%, 50%);
}

.upBtn:hover, .downBtn:hover{
    background-color: hsl(180, 100%, 75%);
}

input[type="text"]{
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    border: 2px solid;
}

input[type="checkbox"]{
    height: 20px;
    width: 20px;
    place-content: center;
}

ol{
    list-style: none;
    padding: 0px;
}

li{
    font-size: 2em;
    font-weight: bold;
    padding: 5px;
    background-color: hsl(0, 0%, 75%);
    margin-bottom: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.text{
    flex: 1;
}

.deleteBtn, .upBtn, .downBtn{
    font-size: 1.4rem;
    margin-left: 10px;
    padding: 5px 10px;
}